body {
  margin: 0;
}
header .logo {
  width: 50px;
  height: 50px;
}
header .title {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}
header .sub-title {
  font-size: 12px;
}
header .city {
  color: #FF6800;
}
header .star {
  color: #eecd00;
}
.navbar .nav-link {
  color: #000;
  font-size: 14px;
  padding-left: 0 !important;
  padding-right: 20px !important;
}
.navbar .nav-link:hover {
  color: #FF6800;
}
#add-to-cart,
#add-to-cart-modal {
  background: #FF6800;
  border-radius: 25px;
  padding: 10px 30px;
}
#add-to-cart:hover,
#add-to-cart-modal:hover {
  background: #DB5B01;
}
#add-to-cart:focus,
#add-to-cart-modal:focus {
  box-shadow: none;
}
.data-mart .entity img {
  transition: 0.5s;
}
.data-mart .entity img:hover {
  transform: scale(1.1);
}
.data-mart .entity .title,
.data-mart .entity .price {
  font-weight: 500;
  font-size: 20px;
}
.data-mart .entity .composition {
  font-size: 14px;
  color: #676d7a;
}
.data-mart .entity button {
  background: #fff0e6;
  color: #DB5B01;
  border-radius: 25px;
  padding: 10px 30px;
}
.data-mart .entity button:hover {
  background: #FFD3B3;
  color: #DB5B01;
}
.data-mart .entity button:focus {
  box-shadow: none;
}
#modalCart,
#modalEntity {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
#modalCart .modal-container,
#modalEntity .modal-container {
  height: 80%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
#modalCart .modal-container .btn-close,
#modalEntity .modal-container .btn-close {
  position: absolute;
  right: 20px;
  top: 20px;
}
#modalCart .modal-container .btn-close:focus,
#modalEntity .modal-container .btn-close:focus {
  box-shadow: none;
}
#modalEntity .modal-container {
  overflow-y: scroll;
}
#modalEntity .modal-container__entity-media img {
  width: 300px;
}
#modalEntity .modal-container__entity-info {
  padding: 0 20px;
}
#modalEntity .modal-container__entity-info p {
  margin-top: 30px;
  font-size: 24px;
}
#modalEntity .modal-container__entity-info p.composition {
  margin-top: 0;
  font-size: 14px;
}
#modalEntity .modal-container__entity-info .check-size-container {
  border-radius: 20px;
  background: #EDEDED;
  padding: 5px 10px;
}
#modalEntity .modal-container__entity-info .check-size-container span {
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 25px;
}
#modalEntity .modal-container__entity-info .check-size-container span.active {
  cursor: default;
  background: #FFF;
  box-shadow: 1px 1px 5px 0 #A1A1A1;
}
#modalCart .modal-container {
  background: #F8F9FA;
}
#modalCart .modal-container .total-sum {
  margin: 20px 10px;
  font-size: 20px;
}
#modalCart .modal-container .entities {
  overflow-y: scroll;
  padding-bottom: 50px;
}
#modalCart .modal-container .entities .entity {
  margin-bottom: 20px;
}
#modalCart .modal-container .entities .entity img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
#modalCart .modal-container .entities .entity .title {
  font-weight: 500;
  font-size: 18px;
}
#modalCart .modal-container .entities .entity .size-text {
  font-size: 12px;
  color: #AEAEAE;
}
